.connectus-container{
    padding-top: 3rem/* 48px */;
    padding-bottom: 2rem/* 48px */;
    margin:2rem 3rem;
    text-align: center;
}

.connectus-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px auto;
}

.item-img {
    border: 2px solid none;
    border-radius: 50%;
    width: 230px;
    height: 230px;
}
.items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.item-heading{
    font-size: 24px;
    margin-top:1rem ;
}





/* Media query for screens with a maximum width of 1200px */
@media (max-width: 1200px) {
    .connectus-container {
        padding: 2rem;
    }

    .item-heading {
        font-size: 1.2rem;
    }
    .connectus-content {
     flex-wrap: wrap;
       
    }
}

/* Media query for screens with a maximum width of 720px */
@media (max-width: 720px) {
    .connectus-content {
        flex-direction: column;
        /* margin: auto; */
       
    }

    .item-img {
        width: 150px;
        height: 150px;
    }

    .item-heading {
      
        /* transform: translate(-50%, -51%); */
    }
    
}
