.training-container{
    background-color: #4682A9;
     padding-top: 3rem/* 48px */;
    padding-bottom: 3rem/* 48px */;
    text-align: center;
    color: white;
    
}
.training{
    margin: 1rem;
    /* padding:0 4rem; */
    display: flex;
    justify-content: space-around;
    
}
.training-content{
    margin:1rem;
    /* color: white; */
}
.training-content ul li{
    list-style: disc;
    margin: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
}
.trainingimgcollage{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    /* height: 400px; */
    width: 400px;
    border-radius:.5rem ;
}
.trainingimgcollage img{
    height: 100%;
    width: 100%;
    border-radius: 5%;
}

@media (max-width: 1200px) {
    .training-container{
        padding-top: 1rem/* 48px */;
        padding-bottom: 1rem/* 48px */;
    }
    .training{
        flex-direction: column;
    }
    .training-content{
        margin: 1rem;
    }
    .trainingimgcollage{
        margin: auto;
        height: 300px;
        border-radius:.5rem ;
       
        /* width: 100%; */
    }
    .trainingimgcollage img{
       height: 100%;
       width: 100%;
    }
    .training-content ul li{
        font-size: 1.2rem;
    }
}
@media (max-width: 768px) {
    .training-container{
        padding-top: 1rem/* 48px */;
        padding-bottom: 1rem/* 48px */;
    }
    .training{
        flex-direction: column;
    }
    .training-content{
        margin: 1rem;
        /* font-size: .8rem; */
    }
    .training-content ul li{
        font-size: .8rem;
    }
    .trainingimgcollage{
        width: 250px;
        height: 250px;
        width: 90% !important;
        border-radius:.5rem ;
       
        /* width: 100%; */
    }
    .trainingimgcollage img{
        height: 100%;
        width: 100%;
    }
    .training-content ul li{
        font-size: 1.2rem;
    }
}