@import url(./Components/Utils/css/commoncss.css);
@import url(./Components/Utils/css/variable.css);
@import url(./Components/Utils//css/font.css);
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  /* font-family: 'Poppins', sans-serif; */

}
